footer {
 flex-shrink: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

.contact__social {
  display: inline-block;
}

.contact__icons-svg path[fill="#1E88E5"] {
  fill: #1E88E5;
  transition: fill .3s ease-in-out;
}

.contact__icons-svg:hover path[fill="#1E88E5"] {
  fill: #505459;
}

.contact__icons-svg:active path[fill="#1E88E5"] {
  fill: #094c86;
}

